
html,
body,
#main-container,
#main-container .row,
#main-container .row .sidebar{
    height: 100%;
}

body {
    padding-top: 50px;
    font-family: 'Anonymous Pro', monospace;
    background-color: #fff;
}

h1 {
    font-weight: 800;
}

/*STYLING FOR SIDEBAR*/

.sidebar {
    padding: 20px 0;
    background-color: #e1e1e1;
    border-right: 1px solid #eee;
}

.sidebar ul {
    margin-bottom: 30px;
    line-height: 4px;
    font-size: 1.7rem;
}

.sidebar ul li a:hover {
    color: #000096;
}

.sidebar ul.active,
.sidebar ul li.active a:hover {
    background-color:#428BCA;
    color: white;
}

.sidebar ul li.active a {
    color: black;
}

/*STYLING FOR MAIN-CONTENT-CONTAINER*/
#main-content-container .img-responsive {
    display: inline;
}